body{
    font-family: sans-serif;
}

a{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 2px;
    font-weight:500

}

h2,h3,h4,h5,h6{
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    margin-top: 2px;
    font-weight:500

}

/* ====== header =====*/
.contac .fa {
    color: #808080;
    font-size: 25px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.contac .fa:hover {
    color: white;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.navbar{
    width:25%;
    text-align: center;
    
    margin: auto;
    padding: auto;
}

.slogan{
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
}
/* ====== header =====*/


.left-border{
    border-left: 4px rgb(36, 33, 33) solid;
    padding-left: 10px;
    margin-top: 2px;
}

.test .fa{
    color:white;
    height: 10px;
    text-decoration: none;
}


.contac span{

    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;

}
.rollback_header_social{
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;
    
}
.rollback_header_social:hover{
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;
    text-decoration: none;
}
.header{
    margin-left: auto;
    margin-right: auto;
}



.jumbotron{
    width: 100%;
    text-align: center;
   
}


.govde{
    float: left;

}


.sag{
    float:right;

}


.slider{
    width: 100½; 
}


.site{
    margin:auto;

}
.card img{
    width: 342px;
    height:180px ;
    border-radius: 0px 0px 7px 7px;


}

.card-img-top{
    width: 286px !important;
    height:180px ;
}

.bilgi{
    width: 90%;
    margin: auto;
}

.card-text{
    font-size: 17px;
    font-family: sans-serif;
}
.card{
    background-color: #ededed !important; 
    transition: transform .5s ease-in-out;
    outline-style:none;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 10px #888888;
}

#navigation{
    color:white;
    margin:30px;
}
/* Gövde basşlık*/
.govde_baslik_yazi{
    padding: 0px 20px 0px 5px;
    color:black;
    text-decoration: none;
    font-family: sans-serif;

    margin-top: 2px;
    font-weight:500;
    font-size:23px;
}

.govde_baslik_yazi a{

    color:black;

    font-family: sans-serif;
    border-left: 2px rgb(36, 33, 33) solid;
    padding: 0px 20px 0px 5px;
    margin-top: 2px;
    font-weight:500;
   font-size:23px
}
.govde_baslik_yazi a:hover{

    color:black;
    text-decoration: none;
    font-family: sans-serif;
    border-left: 2px rgb(36, 33, 33) solid;
    padding: 0px 20px 0px 5px;
    margin-top: 2px;
    font-weight:500;
   font-size:23px
}


/* =========== Mobil css =========== */
.mobil_navbar{
    padding: 0px 24px 10px 24px;
}
.mobil_drop{
    margin-left:50px;
}
.mobil_drop a{
    font-weight: 400;
    font-size: 14px;
}




/* Load more*/
.misha_loadmore{
	background-color: #ddd;
	border-radius: 2px;
	display: block;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing:1px;
	cursor:pointer;
	text-transform: uppercase;
	padding: 10px 0;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;  
}
.misha_loadmore:hover{
	background-color: #767676;
	color: #fff;
}
/* img hover*/
.test{
    position:absolute;
    top: 0px;
    left: 50px;
    visibility: hidden;
    font-size: 20px !important;
    text-align: center;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
}
.footer_name a{
    font-size: 40px;
    text-decoration: none;
    font-family: Bahnschrift;
    color: #0e4796;
    padding-left: 10px;
    font-weight:500;
    text-align: center;
    margin: auto;
    
}
/* footer */
.footer{
    margin: 10px;


}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0px; 
    margin-right: 0px;  
}
.footer_blog_name{
    width:90%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap
}

@media only screen and (max-width: 600px) {
    .card{        
        width: 100%;
        border-radius: 10px;
        padding: 0px;
    }
    .card img{ 
        
        margin-top:0px ;
        width: 100%;
        border-radius: 10px;
        padding: 0px;
    }
    .contac{
        width: 100%;
        padding: 2px;
        background-color:#f5f5f5;
        text-align: center;
    
    }/* navbar */
    .header{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .header a{
        margin-left: auto;
        margin-right: auto;
        font-size: 34px;
        text-decoration: none;
        font-family: Bahnschrift;
        color: #0e4796;
        font-weight:500;
        
        }
        .header:hover a{
            margin-left: auto;
            margin-right: auto;
            color: #0e4796;
            text-decoration: none;
            font-family: Bahnschrift;
            font-weight:500;
            font-size:34px
        }
        .govde_resim{
            width: 100% !important;
            height:175px !important;
  

        }
        .card{
            padding:0px;
            margin-top:15px;
            height:100% !important;
            width: 100% !important;
        }
        .govde_resim_buyuk{
            width: 100% !important;
            height:175px !important;
         
        }
        .n2-ss-align{
            width:100%;
            object-fit:cover
        }
 

            


}

@media only screen and (min-width: 600px) {
    .about_me{
        width: 20rem;
    }
    .contac{
        width: 100%;
        padding: 10px;
        background-color:rgb(36, 33, 33);
        text-align: center;
    
    }/* navbar */

    .header a{
        font-size: 80px;
        
        text-decoration: none;
        font-family: Bahnschrift;
        color: #0e4796;
        padding-left: 10px;
        margin-top: 2px;
        font-weight:500;
        
        }
        .header:hover a{
            color: #0e4796;
        
            text-decoration: none;
            font-family: Bahnschrift;
            padding-left: 10px;
            margin-top: 2px;
            font-weight:500;
            font-size:80px
        }
        .govde_resim{
            width: 100% !important;
            height:180px !important;

        }
        .govde_resim_buyuk{
            width: 100% !important;
            height:400px !important;
        }
        .n2-ss-align{
            width:1320px;
            margin-left:auto;
            margin-right:auto;
            object-fit: scale-down;
        }

        

}
