
/* =================== Dropdawn ================= */

.dropdown span .top_menu{
  margin-bottom: 50px;
  border:2px solid #08509e;
  border-radius: 5px;
  color:#000;
  padding:12px 20px 12px 20px;
  text-decoration:none;
  font-weight:600;
  font-size: 17px;
  font-family: sans-serif;
  position:relative;

  transition:all 0.6s;
  z-index:1;
}
.dropdown span .top_menu:before,
.dropdown span .top_menu:after {
  content:"";
  position:absolute;
  top: 50%;
  left:0;
  width:24px;
  height:4px;
  background:#08509e;
  margin-left:-12px;
  margin-top:-2px;
  transition:all 0.6s;
}
.dropdown span .top_menu:after {
  left:auto;
  right:0;
  margin-right:-12px;
}
.dropdown span .top_menu:hover:before,
.dropdown span .top_menu:hover:after {
  cursor: pointer;
  transition:all 0.6s;
  background:#f5f5f5;
  transform:scaleY(5);
  z-index:-1;
}
.dropdown span .top_menua:hover {
  cursor: pointer;
  text-decoration:none;
  background:#0e4e97;
  transition:all 0.6s;
  color: #f5f5f5;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;

  z-index: 1;
}

.dropdown-content .top_menu{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .top_menua:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .top_menu {  
  cursor: pointer;
  text-decoration:none;
  background:#0e4e97;
  transition:all 0.6s;
  color: #f5f5f5;
}
.menus-flex{
  margin-left:10%;
  width: 80%;
  padding:30px;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap:wrap
}
.dropdown-item{
  margin-top: 1px;
  border-radius: 8px;
  background-color: transparent; 
  border:0;

}
.dropdown-item:hover{
  background-color: #dcdcdc;
  border:0;
}
/* =================== Dropdawn ================= */


/* =================== Home page next and previous ================= */
.next_prev{
  overflow: hidden;
}
.next_prev .sag_button:hover{
  background-color: gray;
  
}
.sag_button:hover a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  
}
.sol_button:hover a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.next_prev .sol_button:hover{
  background-color: gray;
}
.next_prev .sol_button{
  margin-top: 20px;
  float: left;
  background-color: #ddd;
}
.next_prev .sag_button{
  margin-top: 20px;
  float: right;
  background-color: #ddd;

}
.next_prev a{
  font-weight: 600;
  margin:15px 9px 8px 9px !important;
  text-decoration: none;
  color:black;

}
/* =================== Home page next and previous ================= */


/* =================== Mobil dropdawn ================= */
.nav-link{
  border: 1px blue solid;
  margin: 8px 0px 0px 0px;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
}
/* =================== Mobil dropdawn ================= */
