/* ----------Single.php css---------- */
/* posts img */
@media only screen and (max-width:600px){
    .single_img{
        width: 100% !important;
        height:200px !important;
        padding:1px !important; 
        border-radius:8px;
    }
}
@media only screen and (min-width:600px){
    .single_img{
        width: 100% !important;
        height:400px !important;
        padding:1px !important; 
        border-radius:5px;
    }
}


/*reading time*/
.reading_time{
    background:#e2e2e2;
    padding:5px 8px 5px 8px;
    color:black;
    border-radius:9px;
    font-weight:600;
    color:#808080
}
.bottom-border{
    border-bottom: 3px rgb(36, 33, 33) solid;
    padding-bottom: 10px;
    margin-top: 2px;
    text-align: center;
}

/* =============== Comments ============== */

h3#comments{
    font-size: 20px;
    font-weight: 600;
}

ol.commentlist li{
    background-color: #ddd;
    margin-bottom: 20px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
}
ol.commentlist p{
    font-size: 1.2em;

}
ol.commentlist li .vcard img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
ol.commentlist li .vcard .fn{
font-weight: bold;
}
ol.commentlist li .commentmetadata{
font-size: 14px;
}
ol.commentlist li .commentmetadata a{
    background-color: #ddd;
    padding:5px 8px 5px 8px;
    border-radius:9px;
    font-weight:600;
    color:#808080;
    text-decoration: none;
}
ol.commentlist li .commentmetadata a:hover{
    background-color: #ddd;
    padding:5px 8px 5px 8px;

    border-radius:9px;
    font-weight:600;
    color:#808080;
    text-decoration: none;
}
#respond{
    background-color: #ddd;
    margin-bottom: 20px;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
}
.navigation{
    display: flex;
}
.alignleft{
    flex: 1;
}
.alignright{
    flex: 1;
}
