
  

  .soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;

    text-align: center;
  }
  .soc li {
    display: inline-block;

  }
  .soc a, .soc svg {
    display: block;
  }
  .soc a {
    position: relative;

    height: 3.6rem;

    width: 3.6rem;
  }
  .soc svg {
    height: 100%;
    width: 100%;
  }
  .soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .icon-8, .icon-13, .icon-15,.icon-26, .icon-10, .icon-17, .icon-20, .icon-28 {
    border-radius: 100%;

    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-in;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-o;
    transition: background-color 0.5s, transform 0.5s ease-in;
    transition: background-color 0.5s, transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  
  .icon-8:hover, .icon-13:hover, .icon-15:hover,.icon-26:hover, .icon-10:hover, .icon-17:hover, .icon-20:hover, .icon-28:hover {
    border-radius: 100%;

    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  
  .icon-8 {
    color: #6ed926;
    fill:  #dd4b39;
  }
  .icon-8:hover {
        fill:  white;
    background:  #dd4b39;
  }
  
  
  
  .icon-13 {
    color: white;
    fill: black;
  }
  .icon-13:hover {
      fill: white;
    background: black;
  }
  
  
  .icon-15 {

  fill: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  fill: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  fill: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  
  }
  .icon-15:hover {
  fill:  white;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   
  }
  
  .icon-26 {
    color:#00acee ;
    fill: #00acee ;
  }
  .icon-26:hover {
    fill:  white;
    background: #00acee ;
  }

  .icon-10 {
    color: #3b5998;
    fill: #3b5998;
  }
  .icon-10:hover {
    fill: white;
    background: #3b5998
  }
  
  .icon-17 {
    color: #0e76a8;
    fill: #0e76a8;
  }
  .icon-17:hover {
    fill: white;
    background: #0e76a8;
  }
  
  .icon-20 {
    color: #c8232c;
    fill: #c8232c;
  }
  .icon-20:hover {
    fill: white;
    background: #c8232c;
  }
  
  
  .icon-28 {
    color: #c4302b;
    fill: #c4302b;
  }
  .icon-28:hover {
    fill: white;
    background: #c4302b
  }
  
  