
.navbar{
    width:25%;
    text-align: center;
    margin: auto;
    padding: auto;
}

.left-border{
    border-left: 4px rgb(36, 33, 33) solid;
    padding-left: 10px;
    margin-top: 2px;
}

.contac{
    width: 100%;
    padding: 10px;
    background-color:rgb(36, 33, 33);
    text-align: center

}/* navbar */
.contac span{

    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;

}


.header{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
}


.jumbotron{
    width: 100%;
    text-align: center;
   
}


.govde{
    float: left;

}


.sag{
    float:right;

}


.slider{
    width: 100½; 
}


.site{
    margin:auto;

}
.card img{
    width: 342px;
    height:180px ;
    transition: transform .5s ease-in-out;
    border-radius: 2px;


}
.card img:hover{
    transform: scale(1.1);
    border-radius: 5px;

}
.card-img-top{
    width: 286px !important;
    height:180px ;
}

.bilgi{
    width: 90%;
    margin: auto;
}
.yorumlar{
    margin-top:200px;
}

.card{
    background-color: #ededed !important; 
    box-shadow: 0 0 4px 0.1px black;
}
#navigation{
    color:white;
    margin:30px;
}



