
.navbar{
    width:25%;
    text-align: center;
    margin: auto;
    padding: auto;
}
.baslik{
    color:black;
    font-size: 18px;

}

.baslik:hover{
    color:crimson;
    text-decoration: underline;
    text-decoration-color: crimson;
}



.contac{
    width: 100%;
    padding: 10px;
    background-color:rgb(36, 33, 33);
    text-align: center

}
.contac span{

    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;

}


.header{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 8px;
    margin-top: 10px;

}
.jumbotron{
    width: 100%;
    text-align: center;
   
}

.govde{
    float: left;

}
.sag{
    float:right;

}

.slider{
    width: 100½; 
}

.site{
    margin:auto;

}
.bilgi{
    width: 90%;
    margin: auto;
}
.yorumlar{
    margin-top:200px;


}

#navigation{
    color:white;
    margin:30px;
}

